*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
  }
  
  body {
    /* The image used */
    background-image: url("mountain.jpg");
    
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }
  .wrapper{
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 50px auto;
    padding: 30px;
   background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: red;
    text-transform: uppercase;
    text-align: center;
  }
  .wrapper .form{
    width: 100%;
  }
  
  .wrapper .form .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  .wrapper .form .inputfield label{
     width: 200px;
     color: rgb(241, 241, 241);
     margin-right: 10px;
    font-size: 14px;
  }
  .wrapper .form .inputfield .input,
  .wrapper .form .inputfield .textarea{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.1s ease;
  }
  .wrapper .form .inputfield p{
    font-size: 14px;
    color:white;
 }
 
  .wrapper .form .inputfield .btn{
    width: 100%;
     padding: 8px 10px;
    font-size: 15px; 
    border: 0px;
    background:  #32b9f8;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
  }
  .wrapper .form .inputfield .btn:hover{
    background: #a2d5f7;
  }
  
  